@font-face{
    font-family: "vazir";
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.eot?#iefix) format("emedded-opentype");
    src: url(../fonts/Vazir.woff2) format("woff2");
    src: url(../fonts/Vazir.woff) format("woff");
    src: url(../fonts/Vazir.ttf) format("truetype");
}
body{
    font-family: "vazir" !important;
   
}
a{
      text-decoration: none;
}

.header-scrolled{
    background-color: white;
    box-shadow: 0px 2px 20px rgb(1 41 122 /10%);
}
.a{
    transition: all 0.5s;
    padding: 20px 0;
}
@media(max-width:992px){
    .a{
        background-color: white;
    }
}

/* intro */

.intro{
    width: 100%;
    height: 100vh;
    background-image: url(photoall/intro/intro-bg.png) ;
    background-size: cover;
    
    background-repeat: no-repeat;
   
}
.hover{
    transition: all 0.5s;

}
.hover:hover{
    transform: scale(1.1);
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6,
p{
    line-height: 1.8 !important;
}

/* about */


.content{
    background-color: #f6f9ff;
    padding: 40px;
}


 /* counts */
 .icon i{
    font-size: 42px;
    
 }

 .blue{
    color: #3044fe;
    
 }
 .orenge{
    color: rgb(234, 126, 87);
 }
 .green{
    color: rgb(31, 136, 31);
 }
 .red{
    color: rgb(216, 60, 60);
 }


 /* features */
 .features i{
    font-size: 44px;
    color: #4451f4;
 }


/* services */
.services-box{
    box-shadow: 0px 0 30px rgba(2, 59, 158, 0.08);
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
}
.services i{
    font-size: 36px;
    padding: 30px;
    line-height: 0%;
    display: inline-block;
    border-radius: 4px;
   
    
}

.read-more i{
    font-size: 20px;
    line-height: 0%;
    padding: 0;
    margin: 10px;
}
.read-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;

}
/* services-box blue */
.dark{
    border-bottom: 3px solid rgb(7, 133, 212);
    animation-delay: 0.2s; 
}
.ii{
    color: rgb(7, 133, 212);
    background-color: lightskyblue;
}
.dark:hover{
    background-color:rgb(79, 168, 223) ;
    color: white;
}

.services-box:hover .read-more{
    color: white;
}
.services-box:hover .ii{
    background-color: white;
}
/* services-box orenge */

 .light{
    border-bottom: 3px solid rgb(236, 167, 18);
     animation-delay: 0.2s; 
}
.bb{
    color: rgb(230, 195, 122);
    background-color: rgb(249, 249, 248);
}
.light:hover{
    background-color: rgb(236, 167, 18);
    color: white;
}


.services-box:hover .read-more{
    color: white;
}
.services-box:hover .ii{
    background-color: white;
}

/* services-box green */

.gray{
    border-bottom: 3px solid rgb(27, 214, 127);
     animation-delay: 0.2s; 
}
.cc{
    color: rgb(20, 224, 101);
    background-color: rgb(225, 228, 231);
}
.gray:hover{
    background-color:rgb(74, 247, 123) ;
    color: white;
}


.services-box:hover .read-more{
    color: white;
}
.services-box:hover .cc{
    background-color: white;
}

/* prising */
.prising .card{
    transition: all 0.3s;
}

.prising .card:hover{
   transform: scale(1.1);
}


/* contact */
.info-box{
    background-color: #f6f9ff;
    padding: 30px;
}
.info-box i{
    font-size: 38px;
    line-height: 0%;
    color: rgb(43, 119, 224);
    
}

.content-form{
    background-color: #f6f9ff;
    padding: 30px;
    height: 100%;
}


/* footer */
.link i{
    font-size: 23px;
    color: rgb(130, 124, 124);

}
.link i:hover{
    color: rgb(49, 133, 236);
}


.footer hr{
    width: 70%;
    height: 5px;
}
.linka a{
    color: black;
}


